{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "pageTitle.html" . }}

{{ "<!-- childrensbook -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="post-content">
          {{ .Content }}
        </div>
      </div>
      {{ "<!-- childrensbook item -->" | safeHTML }}
      {{ range $data.childrensbook.pricing_table }}
      <div class="col-lg-4 col-sm-6 mb-md-50">
        <div class="rounded border">
          <div class="p-4 border-bottom">
            <h3 class="text-color mb-0">{{ .title }}</h3>
            <i class="square-icon translateY-10 float-right {{ .icon }}"></i>
          </div>
          <div class="pt-5 px-4">
            <h2 class="font-weight-bold mb-3">{{ .value }}</h2>
            <ul class="pl-0 mb-30">
              {{ range .service_list }}
              <li class="font-secondary text-color py-10 border-bottom">
                <i class="text-primary mr-2 ti-arrow-circle-right"></i>{{ . }}
              </li>
              {{ end }}
            </ul>
            <a href="{{ .link | safeURL }}" class="btn btn-primary translateY-25">{{ i18n "buy_now" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- Other Publishing packages-->
    <div class="col-lg-12">
      <div class="after-content">
        <h5>Want to publish in black & white?</h5>
        <h6>Start as low as $1,499.</h6>
        <p>If your book is mostly text, black and white photographs, or line drawings, look no further - we have a black and white publishing package tailored for you.</p>
        <a href="/blackandwhite">See Black and White Packages.</a>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="after-content">
        <h5>Want to publish in full color?</h5>
        <h6>Start as low as $1,499.</h6>
        <p>If you wish to publish photo books, cookbooks, travel guides, and autobiographies, adding colored pictures are ideal for you.</p>
        <p><a href="/fullcolor">See Full Color Packages.</a></p>
      </div>
    </div>
    <!-- /Other Publishing packages-->
    <!-- Other Publishing packages-->
    <div class="col-lg-12">
      <div class="after-content">
        {{ range where site.RegularPages "Title" (.Params.package | title) }}


        <p>{{ .Content }}</p> 
        {{ end }}
      </div>
    </div>  
    <!-- Other Publishing packages-->

  </div>
</section>
{{ "<!-- /childrensbook -->" | safeHTML }}

{{ end }}