{{ $data := index .Site.Data .Site.Language.Lang }}
{{ "<!-- aboutt -->" | safeHTML }}
<section class="fun-facts overlay-dark section-sm" style="background-image: url('{{ $data.about.funfacts.bg_image | absURL }}');">
    <div class="container">
        <div class="row">
           <div class="col-12">
                <div class="d-flex flex-sm-row flex-column justify-content-lg-center align-items-center text-center text-sm-left">
                    <div class="text-center">
                        <h3 class="text-white mb-0">We provide the smart solution for your publishing success.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- /aboutt -->" | safeHTML }}