<section class="section">
    <div class="container">
        <div class="row mt-5 dashboard-img-col">
            <div class="col-lg-8 aos-init aos-animate" data-aos="fade-right"><img
                    src="https://phillipbrande.files.wordpress.com/2013/10/random-pic-14.jpg" width="100%"
                    class="dashboard-img large-img-left" alt="GameSupport Dashboard"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 align-self-center aos-init aos-animate" data-aos="fade-left">
                <span class="badge badge-pill badge-blue mb-2">Rich darkmode</span>
                <h2 class="h5 mt-2">Standard dark mode. We like that better too.</h2>
                <p>GameSupport uses a dark mode theme throughout the entire application. Colors and interactions
                    stand out, while you can work for hours without straining your eyes.</p><a href="/docs/">More in
                    our documentation<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentcolor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5.0 01.5-.5h5.793L8.146 5.354a.5.5.0 11.708-.708l3 3a.5.5.0 010 .708l-3 3a.5.5.0 01-.708-.708L10.293 8.5H4.5A.5.5.0 014 8z">
                        </path>
                    </svg></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row dashboard-img-col">
            <div class="col-lg-8 order-lg-4 aos-init aos-animate" data-aos="fade-left"><img
                    src="https://phillipbrande.files.wordpress.com/2013/10/random-pic-14.jpg" width="100%"
                    class="dashboard-img large-img-right" alt="GameSupport Dashboard"></div>
            <div class="col-lg-1 order-lg-1"></div>
            <div class="col-lg-6 align-self-center order-lg-2 aos-init aos-animate" data-aos="fade-right">
                <span class="badge badge-pill badge-blue mb-2">Support chat</span>
                <h2 class="h1 mt-2">Intuitive chat for a smooth operation.</h2>
                <p>We make problem solving fun again. Our intuitive ticket chat provides lightning-fast live
                    communication between your team and your community.</p><a href="/features/ticketing-system">View
                    ticketing features<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                        fill="currentcolor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5.0 01.5-.5h5.793L8.146 5.354a.5.5.0 11.708-.708l3 3a.5.5.0 010 .708l-3 3a.5.5.0 01-.708-.708L10.293 8.5H4.5A.5.5.0 014 8z">
                        </path>
                    </svg></a>
            </div>
            <div class="col-lg-1 order-lg-3"></div>
        </div>
        <div class="row mt-5 dashboard-img-col">
            <div class="col-lg-8 aos-init" data-aos="fade-right"><img
                    src="https://phillipbrande.files.wordpress.com/2013/10/random-pic-14.jpg" width="100%"
                    class="dashboard-img large-img-left" alt="GameSupport Dashboard"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 align-self-center aos-init" data-aos="fade-left">
                <span class="badge badge-pill badge-blue mb-2">Ticketing views</span>
                <h2 class="h1 mt-2">Custom views so you can have it your way.</h2>
                <p>No studio is the same and we can't predict what your team needs. So we enable you to create your
                    own custom ticketing views based on pre-defined filters.</p>
                <a href="/features/ticketing-system">View ticketing features<svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" fill="currentcolor" class="bi bi-arrow-right-short"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M4 8a.5.5.0 01.5-.5h5.793L8.146 5.354a.5.5.0 11.708-.708l3 3a.5.5.0 010 .708l-3 3a.5.5.0 01-.708-.708L10.293 8.5H4.5A.5.5.0 014 8z">
                        </path>
                    </svg></a>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>